*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background: #f5f5f5;
    color: #1a1a1a;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

input, button, select, textarea {
    border: 0;
    outline: 0;
    background: none;
    font-family: inherit;
}